
.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative; 
  }
  
  img {
    width:  200px;
    height: 200px;
    border-style: solid;
    border-color: white;
    }
  
